<body>
<h1>מעבר לעמודים פנימים</h1>
<div class="links  ">
<a class="onestyle" [routerLink]="['/onestyle']" routerLinkActive="active">סגנון ביבימאמ</a>
</div>
<div class="links ">
<a class="twostyle" [routerLink]="['/twostyle']" routerLinkActive="active">סגנון רהיטים</a>
</div>
<div class="links ">
<a class="trheestyle" [routerLink]="['/threestyle']" routerLinkActive="active"> סגנון טיסות</a>
</div>
<div class="links">
<a class="fourtyle" [routerLink]="['/fourstyle']" routerLinkActive="active">סגנון פרחים </a>
</div>
<div class="links">
<a class="fivestyle" [routerLink]="['/fivestyle']" routerLinkActive="active"> סגנון שחור זהב</a>
</div>
<div class="links">
    <a class="header" [routerLink]="['/questionnaires']" routerLinkActive="active"> עמוד שאלונים</a>
</div>
<div class="links">
    <a class="header" [routerLink]="['/navbar']" routerLinkActive="active"> navbar</a>
</div>
</body>