<html>
    <head>
        <title>סגנון רהיטים </title>
    </head>
    <body>
        <div class="container-fluid fivestyle">
            <div class="row ">
                <div class="col-md-12">
                    <div class="logo">
                        <img src="/assets/images/five_logo.png" alt="logo">
                    </div>
                </div>
                <div class="col-md-1" style="width: 12.499999995%"></div>
                <!-- <div class="col-md-1"></div> -->
                <div class="col-md-3 ">
                    <div class="number_label">
                        <div class="number">
                            1
                        </div>
                        <label for="email">מייל:</label>
                    </div>
                    <br> 
                    <div class="box">
                        <input type="email" id="email" name="email" >
                    </div>
                    <hr>
                    <div class="number_label"> 
                        <div class="number">
                            2
                        </div>
                        <label for="email">האם את/ה נשוי/ה?</label>
                    </div>  
                    <div class="custom_radio">
                        <input type="radio" id="featured-1" name="featured" >
                        <label class="radio_yes" for="featured-1">כן</label>
                        <br>
                        <input type="radio" id="featured-2" name="featured">
                        <label for="featured-2">לא</label>
                        <br>
                    </div>
                    <hr>
                    <div class="number_label">
                        <div class="number">
                            3
                        </div>
                        <label for="number">כמה ארוחות בשריות את/ה אוכל בשבוע?</label>
                    </div>
                    <br> 
                    <div class="box">
                        <input type="number" id="number" name="number" >
                    </div>
                </div>
                <div class="col-md-3 height">
                    <div class="number_label">
                        <div class="number">
                            4
                        </div>
                    
                    <!-- <div class="box"> -->
                        <div class="sec-center"> 	
                            <input class="dropdown" type="checkbox" id="dropdown" name="dropdown"/>
                            <label class="for-dropdown" for="dropdown">איזה אוכל מועדף עליך?
                                <i class=" left uil uil-arrow-down">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="11.435" viewBox="0 0 20 11.435">
                                      <path id="Icon_ionic-ios-arrow-down" data-name="Icon ionic-ios-arrow-down" d="M16.191,19.235l7.562-7.568a1.423,1.423,0,0,1,2.019,0,1.441,1.441,0,0,1,0,2.025L17.2,22.265a1.427,1.427,0,0,1-1.971.042L6.6,13.7a1.429,1.429,0,1,1,2.019-2.025Z" transform="translate(-6.188 -11.246)" fill="#007178"/>
                                    </svg>
                                </i>
                            </label>
                            <div class="section-dropdown"> 
                                <div class="uil uil-arrow-right">
                                   <option value="meat">בשרי </option>
                                   <hr>
                                   <option value="milky ">חלבי</option>
                                   <hr>
                                   <option value="fur">פרווה</option>
                                   
                                   
                                   </div>
                            </div>
                        </div>
                    <!-- </div> -->
                </div>
                 
                    <hr>
                    <div class="number_label"> 
                        <div class="number">
                            5
                        </div>
                        <label for="email">איזה סוגי בשר את/ה אוהב/ת?</label>
                    </div>  
                    <div class="checkbox">
                        <input type="checkbox" class="input_checkbox_style_two" >
                        <label > מטרנה צמחי</label><br>
                        <input type="checkbox" class="input_checkbox_style_two" >
                        <label > מטרנה מהדרין</label><br>
                        <input type="checkbox" class="input_checkbox_style_two" >
                        <label > מטרנה שלבים</label><br>
                        <input type="checkbox" class="input_checkbox_style_two" >
                        <label > דיסת דגנים</label><br>
                        <input type="checkbox" class="input_checkbox_style_two" >
                        <label > סימילאק</label>
                 </div>
                    <hr>
                    <div class="number_label">
                        <div class="number">
                            6
                        </div>
                        <label for="number">כמה ארוחות בשריות את/ה אוכל בשבוע?</label>
                    </div>
                    <br> 
                    <div class="box">
                        <input class="number-wrapper" type="number" id="number" name="number" >
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="number_label">
                        <div class="number">
                            1
                        </div>
                        <label for="email">מייל:</label>
                    </div>
                    <br> 
                    <div class="box">
                        <input type="email" id="email" name="email" >
                    </div>
                    <hr>
                    <div class="number_label"> 
                        <div class="number">
                            2
                        </div>
                        <label for="email">האם את/ה נשוי/ה?</label>
                    </div>  
                    <div class="custom_radio">
                        <input type="radio" id="featured-1" name="featured" >
                        <label class="radio_yes" for="featured-1">כן</label>
                        <br>
                        <input type="radio" id="featured-2" name="featured">
                        <label for="featured-2">לא</label>
                        <br>
                    </div>
                    <hr>
                    <div class="number_label">
                        <div class="number">
                            3
                        </div>
                        <label for="number">כמה ארוחות בשריות את/ה אוכל בשבוע?</label>
                    </div>
                    <br> 
                    <div class="box">
                        <input type="number" id="number" name="number" >
                    </div>
                </div>
                <div class="col-md-1" style="width: 12.499999995%"></div>
                <!-- <div class="col-md-1"></div> -->
            </div>
        </div>
    </body>
</html>     