<html>
    <head>
        <title>סגנון שחור זהב </title>
    </head>
    <body>
        <div class="container-fluid fivestyle">
            <div class="row ">
                <div class="col-md-12 ">
                    <div class="logo">
                        <img src="/assets/images/five_logo.png" alt="logo">
                    </div>
                </div>
                <div class="col-xl-1 d-none d-xl-block"></div>
                <div class="col-xl-3 col-md-4">
                    <div class="number_label">
                        <div class="number">
                            1
                        </div>
                        <label for="email">מייל:</label>
                    </div>
                    <br> 
                    <div class="box">
                        <input type="email" id="email" name="email" >
                    </div>
                    <hr>
                    <div class="number_label"> 
                        <div class="number">
                            2
                        </div>
                        <label for="married">האם את/ה נשוי/ה?</label>
                    </div>  
                    <div class="custom_radio">
                        <input type="radio" id="yesmarried" name="married" >
                        <label class="radio_yes" for="yesmarried">כן</label>
                        <br>
                        <input type="radio" id="nomarried" name="married">
                        <label for="nomarried">לא</label>
                        <br>
                    </div>
                    <hr>
                    <div class="number_label">
                        <div class="number">
                            3
                        </div>
                        <label for="number">כמה ארוחות בשריות את/ה אוכל בשבוע?</label>
                    </div>
                    <br> 
                    <div class="box">
                        <input type="number" id="number" name="number" >
                    </div>
                </div>
                <div class="col-xl-3 col-md-4 height">
                    <div class="number_label four">
                        <div class="number">
                            4
                        </div>
                        <div class="sec-center"> 	
                            <input class="dropdown" type="checkbox" id="dropdown" name="dropdown"/>
                            <label class="for-dropdown" for="dropdown">איזה אוכל מועדף עליך?
                                <i class=" left uil uil-arrow-down">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="11.435" viewBox="0 0 20 11.435">
                                      <path id="Icon_ionic-ios-arrow-down" data-name="Icon ionic-ios-arrow-down" d="M16.191,19.235l7.562-7.568a1.423,1.423,0,0,1,2.019,0,1.441,1.441,0,0,1,0,2.025L17.2,22.265a1.427,1.427,0,0,1-1.971.042L6.6,13.7a1.429,1.429,0,1,1,2.019-2.025Z" transform="translate(-6.188 -11.246)" fill="#007178"/>
                                    </svg>
                                </i>
                            </label>
                            <div class="section-dropdown"> 
                                <div class="uil uil-arrow-right">
                                   <option value="meat">בשרי </option>
                                   <hr>
                                   <option value="milky ">חלבי</option>
                                   <hr>
                                   <option value="fur">פרווה</option>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="number_label"> 
                        <div class="number">
                            5
                        </div>
                        <label for="email">איזה סוגי בשר את/ה אוהב/ת?</label>
                    </div>  
                    <div class="checkbox">
                        <input type="checkbox" class="input_checkbox_style_two" >
                        <label > בשר בקר</label><br>
                        <input type="checkbox" class="input_checkbox_style_two" >
                        <label > בשר עוף</label><br>
                        <input type="checkbox" class="input_checkbox_style_two" >
                        <label > לשון</label><br>
                        <input type="checkbox" class="input_checkbox_style_two" >
                        <label > בשר הודו</label><br>
                        <input type="checkbox" class="input_checkbox_style_two" >
                        <label >בשר כבש</label><br>
                        <input type="checkbox" class="input_checkbox_style_two" >
                        <label >חזה עוף</label>
                    </div>
                    <hr>
                    <div class="number_label">
                        <div class="number">
                            6
                        </div>
                        <label for="number">כמה קילו בשר צורכים אצליכם בשבוע?</label>
                    </div>
                    <br> 
                    <div class="box">
                        <input class="number-wrapper" type="number" id="number" name="number" >
                    </div>
                </div>
                <div class="col-xl-3 col-md-4 ">
                    <div class="number_label"> 
                        <div class="number">
                            7
                        </div>
                        <label for="buyer">האם את/ה קונה אוכל בשרי מוכן?</label>
                    </div>  
                    <div class="custom_radio">
                        <input type="radio" id="yesbuyer" name="buyer" >
                        <label class="radio_yes" for="yesbuyer">כן</label>
                        <br>
                        <input type="radio" id="nobuyer" name="buyer">
                        <label for="nobuyer">לא</label>
                        <br>
                    </div>
                    <hr>
                    <div class="number_label"> 
                        <div class="number">
                            8
                        </div>
                        <label for="textarea">שתף אותנו באחד המתכונים הטובים שלך</label>
                    </div>  
                    
                    <textarea id="w3review" name="w3review" rows="4" cols="20">
                    </textarea>
                    <hr>
                   <div class="button">
                        <button class="button_style_five" (click)="open(mymodal)">שלח טופס <link href='https://css.gg/arrow-left.css' rel='stylesheet'><i class="gg-arrow-left"></i></button>
                   </div>
                </div>
                <div class="col-xl-1 d-none d-xl-block"></div>
            </div>
        </div>
    </body>
    <ng-template #mymodal let-modal>
        <div class="modal-header">
           <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
             <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="lottie">
                <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_urqsnzjn.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
            </div>
            <br>
            !הטופס נשלח בהצלחה
            <br>
            מודים על שיתוף הפעולה
            <br>
            (:בתאבון בארוחה הבאה 
        </div>
    </ng-template>
</html>     