.threestyle{
  background-image: url("/assets/images/backgroun_three.png");
  background-position: center; 
  background-size: cover;
  font-family: 'Assistant', sans-serif;
  height: 100vh;
  background-repeat: no-repeat;
  text-align: center;		
  color: #484A47;
  font-size: 18px;
  padding-top: 45px;
  direction: rtl;
  padding-right: 3rem;
  padding-left: 3rem;
  font-weight: 700 !important;
}
.logo{
  text-align: right;	
}
h1{
  color: #F1A321;
  font-size: 60px;
  font-weight: 700
}
h2{
  color: #FEFEF1;
  font-size: 40px;
  font-weight: 700;
}
h3{
  width: 100%;
  color: #01203D;
  font-size: 35px;
  font-weight: 700;
}
form{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20rem;
}
.nema_tel{
  width: 25%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 2rem;
}
input{
  width: 100%;
  height: 54px;
  background-color: #ffffff;
  border-radius: 15px;
  border: solid 1px #F1A321;
  padding-right: 1rem;
  font-size: 22px;
}
 /*דרופדאון*/
.sec-center {
  position: relative;
  max-width: 100%;
  text-align: center;
  z-index: 200;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
  opacity: 0;
  pointer-events: none;
}
.dropdown:checked + label,
.dropdown:not(:checked) + label{
  position: relative;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.5;
  min-height: 54px;
  transition: all 200ms linear;
  border-radius: 15px;
  width: 100%;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: #F1A321 1px solid;
  background-color: #E9E9E9;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
  padding-left: 1rem;
}
path{
  fill: #484A47;
}
.dropdown:not(:checked) + label .uil {
  font-size: 24px;
  transition: transform 200ms linear;
}
.dropdown:checked + label .uil {
  transform: rotate(180deg);
  font-size: 24px;
  transition: transform 200ms linear;
}
.section-dropdown {
  position: absolute;
  padding: 5px;
  background-color: #E9E9E9;
  top: 40px;
  left: 0;
  width: 100%;
  border-radius: 0px 0px 15px 15px;
  display: block;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: all 200ms linear;
  border: #F1A321 1px solid;
  padding-top: 1rem;
  border-top: none;
}
.section-dropdown input{
  color: #484A47;
  border: none;
  height: auto;
  border-radius: 0px;
  border-bottom: 2px solid #484A47;
  font-size: 18px;
  padding-right: 0px;
}
.else{
  padding-right: 1rem;
  padding-left: 1rem; 
}
option{
  line-height:200%;
  font-size: 18px;
  direction: rtl;
  text-align: right ;
  margin-right: 0rem;
  margin-bottom: 0rem;
  padding-right: 1rem;
}
hr{
  margin: 0.2rem;
  color: #F1A321;
}
.dropdown:checked ~ .section-dropdown{
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
.left{
  margin-right: 0.5rem
}
/*דרופדאון-סוף*/
.box_button{
  display: flex;
  justify-content: center;
  width: 100%;
}
.button_style_three:hover{
  color: #F1A321;
  background-color: #E5E5E5;
  border: #F1A321 solid 1px;
}
.button_style_three{
  color:#01203D;
  background-color: #F1A321;
  border-radius: 15px;
  padding: 5px 30px 5px 30px;
  text-decoration: none;
  margin-top: 5rem;
  border: none;
  height: 50px;
  font-size: 22px;
  margin-bottom: 2rem;
  font-weight: 600;
}
/* הודעת הצלחה */
.close{
  border: none;
  color: #F1A321;
  font-size: 40px;
  background-color: #FFFFFF;
  line-height: 0.5;
  z-index: 5;
}
.modal-header{
  background-color: #FFFFFF;
  border: none;
}
.modal-body{
  background-color: #FFFFFF;
  font-family: 'Assistant', sans-serif;
  font-size: 35px;
  text-align: center;
  color: #F1A321;
  padding-bottom: 2rem;
}
.lottie{
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  margin-top: -10rem;
  margin-bottom: -6rem;
}
.modal.show .modal-dialog{
  padding-top: 10rem;
}
@media screen and (max-width: 1350px) {
    form{
    margin-top: 15rem;
    }
}
@media screen and (max-width: 1350px) {
    form{
    margin-top: 15rem;
    }
}
@media screen and (max-width: 1000px) {
    form{
    margin-top: 11rem;
    }
    .nema_tel{
    width: 50%;
    }
    .threestyle{
        height: 100%;
        
    }
}
@media screen and (max-width: 700px) {
    h1{
        font-size: 40px;
    }
    h2, h3{
        font-size: 25px;
    }
    form{
    margin-top: 2rem;
    }
    .nema_tel{
    width: 100%;
    padding-left: 0rem;
    padding-right: 0rem;
    }
    .button_style_three{
        margin-top: 3rem;
    }
    .logo{
        text-align: center;
    }
}