<html>
    <head>
        <title>סגנון ביבימאמ </title>
    </head>
    <body>
        <div class="container-fluid onestyle">
            <div class="row ">
                <div class=" col-md-12 logo">
                    <img src="/assets/images/one_logo.png" alt="logo">  
                    <h1>ביבימאמ</h1>
                    <h2>ענו על שאלון קצר ועזרו לנו לספק לכם את המוצר המתאים לכם</h2>
                </div>
                <div class="col-md-1"></div>
                <div class="box_cover col-md-10">
                    <div class="big_box">
                        <div class="box">
                            <div class="number">
                               1
                            </div>
                            <div class="from">
                               <label for="fname">שם:</label> 
                               <input type="text" id="fname" name="fname">
                            </div>
                        </div>
                    </div>
                    <div class="big_box">
                        <div class="box">
                            <div class="number">
                               2
                            </div>
                            <div class="from">
                                <label for="ybaby_age">האם יש לך תינוק מתחת לגיל שנה?</label> 
                                <br>
                                <br>
                                  <input  type="radio" id="yes" name="baby_age" value="yes">
                                  <label class="bright" for="yes">כן</label><br>
                                  <input  type="radio" id="no" name="baby_age" value="no">
                                  <label class="bright" for="no">לא</label>
                            </div>
                        </div>
                    </div>
                    <div class="big_box">
                        <div class="box">
                            <div class="number">
                               3
                            </div>
                            <div class="from">
                               <label for="fname">בן כמה חודשים התינוק שלך?</label> <br>
                               <input type="number" id="fname" name="fname">
                            </div>
                        </div>
                    </div>
                    <div class="big_box">
                        <div class="box">
                            <div class="number">
                               4
                            </div>
                            <div class="from">
                                <div class="sec-center"> 	
                                    <input class="dropdown" type="checkbox" id="dropdown" name="dropdown"/>
                                    <label class="for-dropdown" for="dropdown">סוג המזון שלו היום
                                        <i class=" left uil uil-arrow-down">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="11.435" viewBox="0 0 20 11.435">
                                              <path id="Icon_ionic-ios-arrow-down" data-name="Icon ionic-ios-arrow-down" d="M16.191,19.235l7.562-7.568a1.423,1.423,0,0,1,2.019,0,1.441,1.441,0,0,1,0,2.025L17.2,22.265a1.427,1.427,0,0,1-1.971.042L6.6,13.7a1.429,1.429,0,1,1,2.019-2.025Z" transform="translate(-6.188 -11.246)" fill="#007178"/>
                                            </svg>
                                        </i>
                                    </label>
                                    <div class="section-dropdown"> 
                                        <div class="uil uil-arrow-right">
                                           <option value="הנקה מלאה"> הנקה מלאה </option>
                                           <hr>
                                           <option value="תמל ">תמ"ל</option>
                                           <hr>
                                           <option value="שילוב הנקה ותמל ">שילוב הנקה ותמ"ל</option>
                                           <hr>
                                           <option value="אחר">אחר</option>
                                           </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="big_box">
                        <div class="box">
                            <div class="number">
                               5
                            </div>
                            <div class="from">
                                <label for="ybaby_age">באיזה תמ"ל את משתמשת?</label>
                                <div class="checkbox">
                                        <input type="checkbox" class="input_checkbox_style_two" >
                                        <label > מטרנה צמחי</label><br>
                                        <input type="checkbox" class="input_checkbox_style_two" >
                                        <label > מטרנה מהדרין</label><br>
                                        <input type="checkbox" class="input_checkbox_style_two" >
                                        <label > מטרנה שלבים</label><br>
                                        <input type="checkbox" class="input_checkbox_style_two" >
                                        <label > דיסת דגנים</label><br>
                                        <input type="checkbox" class="input_checkbox_style_two" >
                                        <label > סימילאק</label>
                                 </div>
                            </div>
                        </div>
                    </div>
                    <div class="big_box">
                        <div class="box">
                            <div class="number">
                               6
                            </div>
                            <div class="from">
                                <label for="ml">כמה מ"ל הוא אוכל בארוחה?</label> 
                                <br>
                                <br>
                                <input  type="radio" id="60" name="ml" value="60">
                                  <label class="bright" for="60">60</label><br>
                                <input  type="radio" id="120" name="ml" value="120">
                                  <label class="bright" for="120">120</label><br>
                                <input  type="radio" id="180" name="ml" value="180">
                                  <label class="bright" for="180">180</label><br>
                                <input  type="radio" id="240" name="ml" value="240">
                                  <label class="bright" for="240">240</label>
                            </div>
                        </div>
                    </div>
                    <div class="big_box">
                        <div class="box">
                            <div class="number">
                               7
                            </div>
                            <div class="from">
                               <label for="fname">יש לך מה להגיד לנו בנושא?</label> 
                               <textarea id="w3review" name="w3review" rows="4" cols="20">
                               </textarea>
                               <!-- <input type="textarea" id="fname" name="fname"> -->
                            </div>
                        </div>
                    </div>
                    <div class="big_box">
                        <div class="box_send">
                           <p>תודה על שיתוף הפעולה (:</p>
                           <button class="button_style_two" (click)="open(mymodal)">אשר ושלח</button>
                           
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        
    </body>
    <ng-template #mymodal let-modal>
        <div class="modal-header">
           <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
             <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="lottie">
                <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_s56ityra.json"  background="transparent"  speed="1"  style="width: 169px; height: 169px;"  loop  autoplay></lottie-player>
            </div>
            <br>
            !הטופס נשלח בהצלחה
            <br>
            מודים על שיתוף הפעולה
        </div>
    </ng-template>
</html>

    
    
    